body, a, ul, li
h1, h2, h3, h4, span{margin:0;padding:0;font-family:sans-serif;}
body{width:100%;height:100%;background:#222222;}
#settingsIcon{position:absolute;margin:0px;z-index:99;}

#settingsDialog{
width: 760px;
height: 440px;
}

#map{
position: absolute;
width: 100%;
height: 100%;
z-index: 40;
visibility: hidden;
}

#efis{
position: absolute;
}

.leaflet-control{
display: block;
background: rgba(255, 255, 255, 0.8);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
border-radius: 5px;
min-width:50px;
min-height:50px;
cursor: pointer;
}

.aircraft-marker-icon {
background-color: rgba(255,255,255,0);
}

.aircraft-marker-icon path {
fill: #00ff00;
}

.page-settings{
width: 100%;
height: 300px;
overflow: auto;
}

.page-settings table{
border-collapse: collapse;
width:100%;
}

.page-settings table td{
line-height: 3;
}

#EfisSettings .ui-input-text{
width: 30%;
float: left;
}

#GeneralSettings .ui-input-text{
width: 80%;
float: left;
}
