body, a, ul, li
h1, h2, h3, h4, span{
margin: 0;
padding: 0;
font-family: sans-serif;
}

body{
width: 100%;
height: 100%;
background: #222222;
}

#toolbar{
position: absolute;
left: 92%;
width: 8%;
height: 100%;
}

#toolbar button{
width: 100%;
height: 25%;
margin: 0;
padding: 0;
}

#toolbar img{
width: 100%;
}

#info{
position: absolute;
width: 40%;
height: 100%;
}

#info ul{
list-style-type: none;
width: 100%;
margin: 0 2%;
}

#info li.text-instrument{
float: left;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
width: 46%;
margin: 2%;
padding: 1.5%;
border: 1px solid #2D2D2D;
color: white;
box-sizing: border-box;
}

#map{
position: absolute;
left: 42%;
width: 50%;
height: 100%;
}















/*
ul.dashboard{
display: block;
list-style-type: none;
height: 8%;
width: 100%;
}

ul#top{
position: absolute;
top: 0;
}

ul#bottom{
position: absolute;
bottom: 0;
}

ul.dashboard li{
float: left;
height: 100%;
}

ul.dashboard li{
text-align: center;
width: 20%;
}

ul.dashboard li:first-child,
ul.dashboard li:last-child{
width: 10%;
}

a, a:hover, a:visited{
color: black;
}

ul.dashboard a{
display: block;
width: 100%;
height: 100%;
border: 1px solid black;
box-sizing: border-box;
background: #1E1E1E;
color: #FFF;
z-index: 1000;
}

ul#top a{
border-radius: 0 0 15px 15px;
}

ul#bottom a{
border-radius: 15px 15px 0 0;
}

#vsi #needle{
fill: red;
}

main{
position: absolute;
top: 8%;
height: 84%;
width: 100%;
z-index: 2;
}


#instruments{
height: 100%;
width: 50%;
margin-left: 1%;
}

#map{
float: right;
width: 48%;
top: 5%;
right: 1%;
height: 90%;
box-sizing: border-box;
border: 16px solid #232323;
border-radius: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.followAircraft, .showMenu, .fullScreen, .record {
background: white;
background: rgba(255, 255, 255, 0.8);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
border-radius: 5px;
width: 36px;
height: 36px;
}

.followAircraft:hover, .showMenu:hover, .fullScreen:hover {
cursor: pointer;
}

.aircraft-marker-icon {
background-color: rgba(255,255,255,0);
}

.aircraft-marker-icon path {
fill: #00ff00;
}

*/






























