html,body{
    width:100%;
    height:100%;
    min-width:320px;
}

html, body, button, a, ul, li{
    margin:0;
    padding:0
}

* {
    outline: 0 !important;
}

ul {
    list-style-type: none;
}


.menu-bar input.custom-switch{position:absolute;opacity:0;}
.menu-bar input.custom-switch + div{float:right;display:inline-block;vertical-align:middle;width:3em;height:1.2em;border:1px solid rgba(0,0,0,.3);border-radius:4px;margin:0;background:white;background-image:linear-gradient(rgba(0,0,0,.1), transparent),
linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);background-size:200% 100%;background-position:100% 0;background-origin:border-box;background-clip:border-box;overflow:hidden;transition-duration:.4s;transition-property:padding, width, background-position, text-indent;box-shadow:0 .1em .1em rgba(0,0,0,.2) inset,
0 .45em 0 .1em rgba(0,0,0,.05) inset;font-size:1.5em;}
.menu-bar input.custom-switch:checked + div{padding-left:2em;width:3em;background-position:0 0;}
.menu-bar input.custom-switch + div:before{content:attr(on-value);float:left;width:2em;height:2em;margin:-.1em;border:1px solid rgba(0,0,0,.35);border-radius:inherit;background:white;background-image:linear-gradient(rgba(0,0,0,.2), transparent);box-shadow:0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
0 0 .5em rgba(0,0,0,.3);color:white;text-shadow:0 -1px 1px rgba(0,0,0,.3);text-indent:-5em;text-align:center;}
.menu-bar input.custom-switch:active + div:before{background-color:#eee;}
.menu-bar input.custom-switch + div:before,
.menu-bar input.custom-switch + div:after{font:bold 60%/1.9 sans-serif;text-transform:uppercase;}
.menu-bar input.custom-switch + div:after{content:attr(off-value);float:left;text-align:center;width:3em;color:rgba(0,0,0,.45);text-shadow:none;}

.modal input.custom-switch{position:absolute;opacity:0;}
.modal input.custom-switch + div{display:inline-block;vertical-align:middle;width:3em;height:1.2em;border:1px solid rgba(0,0,0,.3);border-radius:4px;/*margin:.3em -0.5em 0 1em;*/background:white;background-image:linear-gradient(rgba(0,0,0,.1), transparent),
linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);background-size:200% 100%;background-position:100% 0;background-origin:border-box;background-clip:border-box;overflow:hidden;transition-duration:.4s;transition-property:padding, width, background-position, text-indent;box-shadow:0 .1em .1em rgba(0,0,0,.2) inset,
0 .45em 0 .1em rgba(0,0,0,.05) inset;font-size:1.5em;}
.modal input.custom-switch:checked + div{padding-left:2em;width:3em;background-position:0 0;}
.modal input.custom-switch + div:before{content:attr(on-value);float:left;width:2em;height:2em;margin:-.1em;border:1px solid rgba(0,0,0,.35);border-radius:inherit;background:white;background-image:linear-gradient(rgba(0,0,0,.2), transparent);box-shadow:0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
0 0 .5em rgba(0,0,0,.3);color:white;text-shadow:0 -1px 1px rgba(0,0,0,.3);text-indent:-5em;text-align:center;}
.modal input.custom-switch:active + div:before{background-color:#eee;}
.modal input.custom-switch + div:before,
.modal input.custom-switch + div:after{font:bold 60%/1.9 sans-serif;text-transform:uppercase;}
.modal input.custom-switch + div:after{content:attr(off-value);float:left;text-align:center;width:3em;color:rgba(0,0,0,.45);text-shadow:none;}

.dropdown-menu-mfd .dropdown-item{
  padding: .25rem .5rem;
  /*line-height: 1.9em;*/
}

.dropdown-item {
  /*height: 45px;*/
  line-height: 35px;
  vertical-align: middle;
}

input[type=range] {
  height: 1em;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus, input[type=range]::-moz-focus-outer {
  outline: none;
  border: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow:0 .1em .1em rgba(0,0,0,.2) inset, 0 .45em 0 .1em rgba(0,0,0,.05) inset;
  background: #3B95EF;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  height: 2em;
  width: 1em;
  border-radius: 4px;
  background-image: linear-gradient(rgba(0,0,0,.2), transparent 70%);
  box-shadow:0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .15em rgba(0,0,0,.3);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3B95EF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow:0 .1em .1em rgba(0,0,0,.2) inset, 0 .45em 0 .1em rgba(0,0,0,.05) inset;
  background: #3B95EF;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 2em;
  width: 1em;
  border-radius: 4px;
  background-image: linear-gradient(rgba(0,0,0,.2), transparent 70%);
  box-shadow:0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .15em rgba(0,0,0,.3);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3B95EF;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3B95EF;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 2em;
  width: 1em;
  border-radius: 4px;
  background-image: linear-gradient(rgba(0,0,0,.2), transparent 70%);
  box-shadow:0 .1em .1em .1em hsla(0,0%,100%,.8) inset, 0 0 .15em rgba(0,0,0,.3);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3B95EF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3B95EF;
}

#datetime-ui button i {
  margin-left: 15%;
}

#mfdSettingsModal .card {
    margin: 12px 0;
    line-height: 2em;
}

#mfdSettingsModal .card-block {
    padding: 12px;
}

#map {
    height: 93vh;
}

#efis {
  height: 100%;
  width: 100%;
}

.menu-bar {
    height: calc(7vh + 1px);
    text-align: center;
    margin-top: -1px;
}

.menu-bar .row, .menu-bar .row .dropup {
    height: 100%;
}

.menu-bar .row button {
    width: 100%;
    height: 100%;
    border: 0;
    border-right: 1px solid white;
    padding: 0;
    border-radius: 1.4em 1.4em 0 0;
    /*box-shadow: inset 0px 4px 10px 0px #BBB;*/
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-bar .btn-secondary.focus, .menu-bar .btn-secondary:focus,
.menu-bar .btn.focus, .menu-bar .btn:focus {
  box-shadow: none;
}

#datetime-ui button {
    border-right: 0;
}

.ems-row {
    height: 31vh;
    background: black;
    color: white;
}

.ems-end-row {
    height: 7vh;
    background-color: black;
}

#efis {
  position: absolute;
  top: 0;
}

@media (orientation: portrait) {
    #map {
        height: 70vw;
    }

    .ems-info {
      font-size: 24px;
    }
}

@media (max-width: 991px) and (orientation: landscape) {
    #map {
        height: 70vh;
    }

    .ems-row {
        height: 23vh;
    }
}

#qnh-box {
    cursor: pointer;
}

#terrainElevation{
    display: none;
    width: 50%;
    height: calc(14%);
    top: calc(86% - 4px);
    position: absolute;
    z-index: 100;
    left: 4px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-sizing: border-box;
}

#terrainPreview {
    width: 40vw;
    height: 20vh;
}

.waypointListHeader, .routeListHeader {
    font-weight: bold;
}

.waypointList, .routeList {
     padding: 0 15px 0 15px;
     overflow-y: auto;
     overflow-x: hidden;
     max-height: 40vh;
     margin-bottom: 18px;
}

.waypointList .list-group-item,
.routeList .list-group-item {
    min-height: 55px;
    line-height: 30px;
    padding: .75rem .2rem;
}

.routeList .list-group-item .col-1 {
    padding: 0 !important;
    margin: auto;
}

.fh-control{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display:block;
    box-sizing:border-box;
    line-height: 0em;
}

.ol-control, .ol-control:hover{
    background-color: transparent;
}

.ol-control button, .ol-control button:hover{
    color: black;
    font-size: 2.14em;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    border-radius: 6px;
}

.ol-rotate{
    top: .2em;
}

.userList li {
    float: left;
    margin: 12px;
}

header, footer{
    position:absolute;
    z-index:50;
    /*background: rgba(255,0,0,0.5);*/
}

footer{
    display:none;
}

main{
    position:absolute;
    width:100%;
    height:100%;
}

header ul{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    list-style-type:none;
}

header li{
    padding: 0.4em;
    cursor:pointer;
}

@media(orientation:portrait){
    header{
        width:90%;
    }

    footer{
        top:95%;
        width:100%;
        height:5%;
    }

    header li{
        float:left;
        width:10%;
        max-width:48px;
        height:100%;
    }
}

@media(orientation:landscape){
    header{
        width:8%;
        max-width:48px;
        height:100%;
    }

    footer{
        left:96%;
        width:4%;
        height:100%;
    }

    header li{
        width:100%;
        /*height:1em;*/
    }

    .fh-control{
        /*height:100%;*/
    }
}